body {
  margin: 2rem 0;
}
.back{
    background-color: #f1f1;
    height: 50vh;
    border-radius: 0 0 300px 300px ;
}
.card {
  background-color: var(--white-color);
  display: flex;
  margin: 0 auto;
  flex-flow: column;
  border-radius: 20px;
  align-items: center;
  width: 450px;
  box-shadow: 10px 5px 50px var(--dark-blue-color);
  transition: 0.3s;
  

}
header {
  display: flex;
  flex-flow: column;
  padding: 32px;
  align-items: center;
}
header img {
  border-radius: 11px;
}
.title {
  margin-top: 32px;
}
p {
  padding: 16px;
  text-align: center;
}
@media screen and (max-width: 460px) {
  .card {
    width: 400px;
    margin: 3vh auto;
  }
  h1 {
    font-size: 25px;
  }
  p{
    font-size: 18px;
  }
}
@media screen and (max-width: 424px) {
  .card {
    width: 380px;
  }
  h1 {
    font-size: 25px;
  }
  p{
    font-size: 17px;
  }
}
@media screen and (max-width: 388px) {
  .card {
    width: 350px;
  }
    p{
    font-size: 15px;
  }
}
